<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tyilo.alfred.pbpaste-paths</string>
	<key>connections</key>
	<dict>
		<key>81C9A2B8-2134-4A71-83B5-6DFD94665AC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECE6BE00-3A59-4350-A12F-439D6FD6D705</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>ECE6BE00-3A59-4350-A12F-439D6FD6D705</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B839E45-07A1-4923-B403-F44CB1831D51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyilo</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste Paths</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9B839E45-07A1-4923-B403-F44CB1831D51</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>output="$(./pbpaste-paths)"

if [[ $? != 0 ]]; then
	echo 'No paths found in pasteboard!'
else
	echo -n "$output" | pbcopy

	sleep 0.5
	
	osascript -e 'tell application "System Events" to tell (first process whose frontmost is true) to keystroke "v" using command down'
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ECE6BE00-3A59-4350-A12F-439D6FD6D705</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>81C9A2B8-2134-4A71-83B5-6DFD94665AC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>81C9A2B8-2134-4A71-83B5-6DFD94665AC4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9B839E45-07A1-4923-B403-F44CB1831D51</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ECE6BE00-3A59-4350-A12F-439D6FD6D705</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tyilo.com/</string>
</dict>
</plist>
