<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tyilo.alfred.change-indentation</string>
	<key>connections</key>
	<dict>
		<key>1BDC7E4F-FACD-4F02-A0D0-726D356B30AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD888E5C-051B-4B4F-8BFD-BAE993E63E5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>89015B97-4851-4A7D-B0BD-99DD8D41B007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BDC7E4F-FACD-4F02-A0D0-726D356B30AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>89FD147F-31B0-4E6E-91E6-E09ADB75D3B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>931136FF-EE06-4219-8087-3C41DEAD5767</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>931136FF-EE06-4219-8087-3C41DEAD5767</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8337A3DB-572A-43C6-870E-F6FF23736A7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyilo</string>
	<key>description</key>
	<string>Change the indentation in the clipboard from tabs to spaces or vice versa</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Change indentation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>input={query}

if ! [[ $input =~ '^[0-9]+$' ]]; then
	input=4
fi

pbpaste | expand -t "$input" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BDC7E4F-FACD-4F02-A0D0-726D356B30AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tabs2spaces</string>
				<key>text</key>
				<string>tabs2spaces</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89015B97-4851-4A7D-B0BD-99DD8D41B007</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Converted tabs to spaces</string>
				<key>title</key>
				<string>tabs2spaces</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BD888E5C-051B-4B4F-8BFD-BAE993E63E5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Converted spaces to tabs</string>
				<key>title</key>
				<string>spaces2tabs</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8337A3DB-572A-43C6-870E-F6FF23736A7C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>spaces2tabs</string>
				<key>text</key>
				<string>spaces2tabs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89FD147F-31B0-4E6E-91E6-E09ADB75D3B3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>input={query}

if ! [[ $input =~ '^[0-9]+$' ]]; then
	input=4
fi

pbpaste | unexpand -t "$input" | pbcopy</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>931136FF-EE06-4219-8087-3C41DEAD5767</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BDC7E4F-FACD-4F02-A0D0-726D356B30AA</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>8337A3DB-572A-43C6-870E-F6FF23736A7C</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>89015B97-4851-4A7D-B0BD-99DD8D41B007</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>89FD147F-31B0-4E6E-91E6-E09ADB75D3B3</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>931136FF-EE06-4219-8087-3C41DEAD5767</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>BD888E5C-051B-4B4F-8BFD-BAE993E63E5F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tyilo.com/</string>
</dict>
</plist>
