<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tyilo.alfred.quote</string>
	<key>connections</key>
	<dict>
		<key>01F7FB59-4A34-4D5D-9B42-0B2ECE039FE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32D9288D-3A40-4744-94EA-EAB277AE252B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D1074EE9-AB23-474D-8AA6-41D6FD9A05AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01F7FB59-4A34-4D5D-9B42-0B2ECE039FE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyilo</string>
	<key>description</key>
	<string>quote</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>quote</string>
				<key>text</key>
				<string>Quote</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1074EE9-AB23-474D-8AA6-41D6FD9A05AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste | while read line; do
	echo "&gt; $line"
done</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01F7FB59-4A34-4D5D-9B42-0B2ECE039FE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>32D9288D-3A40-4744-94EA-EAB277AE252B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01F7FB59-4A34-4D5D-9B42-0B2ECE039FE9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>32D9288D-3A40-4744-94EA-EAB277AE252B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D1074EE9-AB23-474D-8AA6-41D6FD9A05AC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://tyilo.com/</string>
</dict>
</plist>
